
<div class="container">

 <div class="title">Stock eMarket System Login</div> 
 <div  class="loginfor">
                <!--  -->
   <form class="example-form">
        <mat-form-field class="example-full-width">
                <input matInput placeholder="User Name" [formControl]="emailFormControl"
                [errorStateMatcher]="matcher" value="">
              
                <mat-hint>Errors appear instantly!</mat-hint>
               
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  User Name is <strong>required</strong>
                </mat-error>


        </mat-form-field>
        
        <br>                  
        <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Password">
        </mat-form-field>
   </form>
 </div>      
 <div  class="buttonline"><button mat-flat-button color="primary">Login</button> <button mat-stroked-button>Cancel</button></div> 

</div>
