
               <mat-tab-group>
                <mat-tab label="Manage Company"> 
                  
                  <company-lib></company-lib>
                  
                </mat-tab>
                <mat-tab label="Manage Exchange">
                   Content 1 </mat-tab>
                <mat-tab label="Import Data"> Content 1 </mat-tab>
                <mat-tab label="Update IPO Details"> Content 2 </mat-tab>
                <mat-tab label="Company List"> Content 3 </mat-tab>
                <mat-tab label="Compare company"> Content 3 </mat-tab>
                <mat-tab label="Update profile"> Content 3 </mat-tab>
              </mat-tab-group>
             